<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="auth.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <!-- TODO: fetch user data -->
<!--      <ul *ngIf="auth.user$ | async as user">-->
<!--        <li>{{ user.name }}</li>-->
<!--        <li>{{ user.email }}</li>-->
<!--      </ul>-->
      <ul class="navbar-nav ms-auto" *ngIf="auth.isAuthenticated()">
        <li class="nav-item" dropdown>
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" dropdownToggle
             data-bs-toggle="dropdown"
             aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
          </a>
          <ul class="dropdown-menu text-small" *dropdownMenu>
            <!--          <li><a class="dropdown-item" href="#">{{ user.name }}</a></li>-->
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </li>
        <li class="nav-item" (click)="auth.logOut()">
          <a class="nav-link">
            Log out</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="!auth.isAuthenticated()">
        <li class="nav-item" (click)="auth.login()">
          <a class="nav-link">
            Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
